<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CTDD - Your partner in cancer research</title>

    <!-- PLUGINS CSS STYLE -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="assets/plugins/slick/slick.css" rel="stylesheet" media="screen">
    <link href="assets/plugins/slick/slick-theme.css" rel="stylesheet" media="screen">
    <link href="assets/plugins/prismjs/prism.css" rel="stylesheet">
    <link href="assets/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="assets/plugins/fancybox/fancyMorph.css" rel="stylesheet" />
    <link href="assets/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="assets/plugins/thin-line-icons/css/thin-line-icons.css" rel="stylesheet">
    <link href="assets/plugins/isotope/isotope.min.css" rel="stylesheet">
    <link href="assets/plugins/animate/animate.css" rel="stylesheet">
    <link href="assets/plugins/daterangepicker/css/daterangepicker.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link href="assets/css/biznex.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/default.css" id="option_color">

    <!-- FAVICON -->
    <link href="assets/img/favicon.png" rel="shortcut icon">

</head>

<body id="body" class="home-classic boxed-menu">
    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="preloader_container">
            <div id="loader">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-sticky-header-overlay"></div>
    <!-- TOPBAR -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="topbar-content">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:716-845-5702">716-845-5702</a>
                    </div>
                    <div class="topbar-content">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:support@gog.org">support@gog.org</a>
                    </div>
                    <div class="topbar-content">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Elm & Carlton Streets, Buffalo, New York</p>
                    </div>
                </div>
                <div class="col-sm-2 text-right">
                    <a target="_blank" href="https://intranet.ctdd.org/login.action?os_destination=%2Findex.action&permissionViolation=true" class="btn btn-primary btn-default bold">CTDD Intranet</a>
                </div>
            </div>
        </div>
    </div>
    <!-- TOPBAR ENDS-->

    <!-- HEADER -->
    <header id="pageTop" class="header">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md main-nav bg-dark-navy">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right">
                                        <span class="burger-menu icon-toggle"><i class="fa fa-bars"></i></span>
                                    </button>
                <div class="navbar-brand">
                    <img src="assets/img/logo.png" alt="Logo"> Clinical Trial Development Division
                </div>
                <ul class="navbar-nav right">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><span class="sr-only">(current)</span>Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="page-aboutus.html"><span class="sr-only"></span>About US</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="page-teamProfile.html"><span class="sr-only"></span>Team Profile</a>
                    </li>
                    <li class="nav-item dropdown drop_single active">
                        <a class="nav-link" href="page-services.html">Services</a>
                        <ul class="dropdown-menu dd_first">
                            <li><a class="" href="page-clinicalTrials.html">Clinical Trial Management</a></li>
                            <li><a class="" href="page-dm.html">Data Management</a></li>
                            <li><a class="" href="page-biostats.html">Biostatistics</a></li>
                            <li><a class="" href="page-qar.html">Quality Assurance & Reporting</a></li>
                            <li><a class="" href="page-it.html">Software systems Development</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- header search ends-->
        </nav>
    </header>

    <div class="main-wrapper services-1">
        <section class="services-area">
            <div class="container">
                <div class="col-md-11.5">
                    <div class="heading heading-v1 text-center mb-3 mt-5 bg-white bg-gray">
                        <h2 class="heading-v1-title"> Services We Provide </h2>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <!-- section title ends -->
            <div class="main-wrapper services-1">
                <!-- OUR SERVICES -->
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="media-box">
                            <div class="media-icon">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-content">
                                <a href="page-clinicalTrials.html">
                                    <h4 class="customFadeInUp">Clinical Trial Management</h4>
                                </a>
                                <p class="customFadeInUp">Broad Expertise - Promote a Culture of Innovation Across All Functional Units - Guided by a Robust Library of Standard Operating Procedures and Policies</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="media-box">
                            <div class="media-icon">
                                <i class="fa fa-credit-card"></i>
                            </div>
                            <div class="media-content">
                                <a href="page-dm.html">
                                    <h4 class="customFadeInUp">Data Management</h4>
                                </a>
                                <p class="customFadeInUp">Patient Entry and Randomization - Protocol Development - Case Report Form Lifecycle Management - Data Integrity & Quality Control</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="media-box">
                            <div class="media-icon">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="media-content">
                                <a href="page-biostats.html">
                                    <h4 class="customFadeInUp">Biostatistics & Statistical Programming</h4>
                                </a>
                                <p class="customFadeInUp">Statisdtical Analysis & Design - Innovation - Statistical Programming -</p>
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="media-box">
                            <div class="media-icon">
                                <i class="ti-ebook"></i>
                            </div>
                            <div class="media-content">
                                <a href="page-qar.html">
                                    <h4 class="customFadeInUp">Quality Assurance & Reporting</h4>
                                </a>
                                <p class="customFadeInUp">Expertise - Experience - Innovationg -</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="media-box">
                            <div class="media-icon">
                                <i class="fa fa-tripadvisor"></i>
                            </div>
                            <div class="media-content">
                                <a href="page-it.html">
                                    <h4 class="customFadeInUp">Software Systems Development</h4>
                                </a>
                                <p class="customFadeInUp">Provide a user-friendly web portal and web services for information sharing - Develop RESTful state APIs necessary to handle the need of interoperable data exchanged between sites and core system components - Developed
                                    Virtual Biospecimen Inventory System for Clinical Trials -Developed systems to facilitate data and specimen sharing </p>
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-2">
                                <div class="card card-style2 team-card">
                                    <div class="card_img">
                                        <img class="card-img-top img-full" src="assets/img/home/v-poster.jpg" alt="v poster">
                                    </div>
                                    <div class="card-block">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-2">
                                <div class="card card-style2 team-card">
                                    <div class="card_img">
                                        <img class="card-img-top img-full" src="assets/img/home/t-poster.jpg" alt="t poster">
                                    </div>
                                    <div class="card-block">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-2">
                                <div class="card card-style2 team-card">
                                    <div class="card_img">
                                        <img class="card-img-top img-full" src="assets/img/bg-projects.jpg" alt="bg projects">
                                    </div>
                                    <div class="card-block">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-2">
                                <div class="card card-style2 team-card">
                                    <div class="card_img">
                                        <img class="card-img-top img-full" src="assets/img/pd1.jpg" alt="pd1">
                                    </div>
                                    <div class="card-block">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer footer-classic bg-navy">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="footer-text">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="links">
                        <h3 style="color: #4ac8ed">Links</h3>
                        <ul class="">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="page-aboutus.html">About Us</a></li>
                            <li><a href="page-teamProfile.html">Team Profile</a></li>
                            <li><a href="page-services.html">Services</a></li>
                            <li><a href="page-copywrite.html">Copyright ©</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="location">
                        <h3 style="color: #4ac8ed">Location</h3>
                        <ul>
                            <li><i class="fa fa-home"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Elm & Carlton Streets, Buffalo, NY 14263-0001</li>
                            <li><i class="fa fa-phone"></i>716-845-5702</li>
                            <li><i class="fa fa-envelope"></i> <a href="mailto"> support@gog.org </a></li>
                            <li><i class="fa fa-pinterest-p"></i><a href="page-services.html">Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-mdl-6">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo-scaled.png" alt="Logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>


    <!-- JAVASCRIPTS -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/jquery/jquery-migrate-3.0.0.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="assets/plugins/slick/slick.min.js"></script>
    <script src="assets/plugins/chartjs/chart.min.js"></script>
    <script src="assets/plugins/circle-progress/jquery.appear.js"></script>
    <script src="assets/plugins/isotope/isotope.min.js"></script>
    <script src="assets/plugins/lazyload/lazyload.min.js"></script>
    <script src="assets/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/plugins/fancybox/fancyMorph.js"></script>
    <script src="assets/plugins/counterUp/waypoint.js"></script>
    <script src="assets/plugins/counterUp/jquery.counterup.js"></script>
    <script src="assets/plugins/smoothscroll/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="assets/plugins/daterangepicker/js/moment.min.js"></script>
    <script src="assets/plugins/daterangepicker/js/daterangepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU79W1lu5f6PIiuMqNfT1C6M0e_lq1ECY"></script>
    <script src="assets/js/biznex.js"></script>

</body>

</html>